In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data.csv")
df.head()

,email,cohort,source,satisfaction,diagramA_x,diagramA_y,diagramB_x,diagramB_y,ip,user_agent,referrer,created_at
0,maddie.winchester@lis.ac.uk,2023,Sponsered ad on Google,5,0.6133,0.4791,0.4767,0.5852,79.173.152.199,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,https://lis-purpose-form.netlify.app/,2025-12-08T16:16:17.445Z
1,mason.murray@lis.ac.uk,2023,Instagram advert,3,0.5450,0.5385,0.3600,0.5652,79.173.152.199,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,https://lis-purpose-form.netlify.app/,2025-12-08T16:10:43.830Z
2,joel.straker@lis.ac.uk,2024,From a family member who saw a newspaper article,6,0.5105,0.3290,0.4555,0.4300,79.173.152.199,Mozilla/5.0 (iPhone; CPU iPhone OS 18_6_2 like...,https://lis-purpose-form.netlify.app/,2025-12-08T15:50:46.113Z
3,belmiro.matosdacosta@lis.ac.uk,2021,My old headteacher told me,3,0.5133,0.4010,0.4633,0.6635,79.173.152.199,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,https://lis-purpose-form.netlify.app/,2025-12-08T15:47:54.994Z
4,isaac.gallant@lis.ac.uk,2025,NaN,3,0.4487,0.5221,0.5081,0.4227,79.173.152.199,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,https://lis-purpose-form.netlify.app/,2025-12-08T15:42:43.441Z

In [4]:
df = df.rename(columns = {"diagramA_x": "wantedX", "diagramA_y": "wantedY", "diagramB_x": "gotX", "diagramB_y": "gotY"})
df = df.drop(columns = {"ip", "user_agent", "referrer"})
df.head()

,email,cohort,source,satisfaction,wantedX,wantedY,gotX,gotY,created_at
0,maddie.winchester@lis.ac.uk,2023,Sponsered ad on Google,5,0.6133,0.4791,0.4767,0.5852,2025-12-08T16:16:17.445Z
1,mason.murray@lis.ac.uk,2023,Instagram advert,3,0.5450,0.5385,0.3600,0.5652,2025-12-08T16:10:43.830Z
2,joel.straker@lis.ac.uk,2024,From a family member who saw a newspaper article,6,0.5105,0.3290,0.4555,0.4300,2025-12-08T15:50:46.113Z
3,belmiro.matosdacosta@lis.ac.uk,2021,My old headteacher told me,3,0.5133,0.4010,0.4633,0.6635,2025-12-08T15:47:54.994Z
4,isaac.gallant@lis.ac.uk,2025,NaN,3,0.4487,0.5221,0.5081,0.4227,2025-12-08T15:42:43.441Z

In [5]:
def to_pixels(v):
    if (0 <= v <= 1.000001):
        return v * 600
    else:
        return v
    
for col in ["wantedX", "wantedY", "gotX", "gotY"]:
    df[col + "_px"] = df[col].apply(to_pixels)

df.head()

,email,cohort,source,satisfaction,wantedX,wantedY,gotX,gotY,created_at,wantedX_px,wantedY_px,gotX_px,gotY_px
0,maddie.winchester@lis.ac.uk,2023,Sponsered ad on Google,5,0.6133,0.4791,0.4767,0.5852,2025-12-08T16:16:17.445Z,367.98,287.46,286.02,351.12
1,mason.murray@lis.ac.uk,2023,Instagram advert,3,0.5450,0.5385,0.3600,0.5652,2025-12-08T16:10:43.830Z,327.00,323.10,216.00,339.12
2,joel.straker@lis.ac.uk,2024,From a family member who saw a newspaper article,6,0.5105,0.3290,0.4555,0.4300,2025-12-08T15:50:46.113Z,306.30,197.40,273.30,258.00
3,belmiro.matosdacosta@lis.ac.uk,2021,My old headteacher told me,3,0.5133,0.4010,0.4633,0.6635,2025-12-08T15:47:54.994Z,307.98,240.60,277.98,398.10
4,isaac.gallant@lis.ac.uk,2025,NaN,3,0.4487,0.5221,0.5081,0.4227,2025-12-08T15:42:43.441Z,269.22,313.26,304.86,253.62

In [6]:
# Horrific circle maths
RADIUS = 114.12
INTERDISCIPLINARY_X, INTERDISCIPLINARY_Y = 249.12, 253.12
PROBLEMS_X, PROBLEMS_Y = 363.12, 253.12
METHODS_X, METHODS_Y = 307.12, 367.12

# These are the actual circles
CIRCLES = {
    "I": (INTERDISCIPLINARY_X, INTERDISCIPLINARY_Y),
    "P": (PROBLEMS_X, PROBLEMS_Y),
    "M": (METHODS_X, METHODS_Y),
}

def inside_circle(x, y, cx, cy, r=RADIUS):
    return (x - cx)**2 + (y - cy)**2 <= r**2

def classify_point(x, y):
    hits = []

    for key, (cx, cy) in CIRCLES.items():
        if inside_circle(x, y, cx, cy):
            hits.append(key)

    # e.g. ["I", "P"] → "IP", ["I","M","P"] → "IMP"
    code = "".join(sorted(hits))

    return code

In [7]:
df["wanted_region"] = df.apply(
    lambda row: classify_point(row["wantedX_px"], row["wantedY_px"]),
    axis = 1
)

df["got_region"] = df.apply(
    lambda row: classify_point(row["gotX_px"], row["gotY_px"]),
    axis = 1
)

df.head()

,email,cohort,source,satisfaction,wantedX,wantedY,gotX,gotY,created_at,wantedX_px,wantedY_px,gotX_px,gotY_px,wanted_region,got_region
0,maddie.winchester@lis.ac.uk,2023,Sponsered ad on Google,5,0.6133,0.4791,0.4767,0.5852,2025-12-08T16:16:17.445Z,367.98,287.46,286.02,351.12,MP,IM
1,mason.murray@lis.ac.uk,2023,Instagram advert,3,0.5450,0.5385,0.3600,0.5652,2025-12-08T16:10:43.830Z,327.00,323.10,216.00,339.12,IMP,IM
2,joel.straker@lis.ac.uk,2024,From a family member who saw a newspaper article,6,0.5105,0.3290,0.4555,0.4300,2025-12-08T15:50:46.113Z,306.30,197.40,273.30,258.00,IP,IP
3,belmiro.matosdacosta@lis.ac.uk,2021,My old headteacher told me,3,0.5133,0.4010,0.4633,0.6635,2025-12-08T15:47:54.994Z,307.98,240.60,277.98,398.10,IP,M
4,isaac.gallant@lis.ac.uk,2025,NaN,3,0.4487,0.5221,0.5081,0.4227,2025-12-08T15:42:43.441Z,269.22,313.26,304.86,253.62,IMP,IMP

In [17]:
IDx = INTERDISCIPLINARY_X - RADIUS
IDy = INTERDISCIPLINARY_Y - np.tan(2.0944) * RADIUS # 120 degrees in Radians
ProbX = PROBLEMS_X + RADIUS
ProbY = PROBLEMS_Y - np.tan(2.0944) * RADIUS
MethodsX = METHODS_X
MethodsY = METHODS_Y + RADIUS

def distance(x1, y1, x2, y2):
    return np.sqrt((x1-x2)**2 + (y1-y2)**2)

def calculate_distance(row):
    return distance(row["wantedX_px"], row["wantedY_px"], row["gotX_px"], row["gotY_px"])

def calculate_strength(row, coordtype="got"):
    row[f"{coordtype}_ID_strength"] = distance(row[f"{coordtype}X_px"], row[f"{coordtype}Y_px"], IDx, IDy)
    row[f"{coordtype}_Prob_strength"] = distance(row[f"{coordtype}X_px"], row[f"{coordtype}Y_px"], ProbX, ProbY)
    row[f"{coordtype}_Methods_strength"] = distance(row[f"{coordtype}X_px"], row[f"{coordtype}Y_px"], MethodsX, MethodsY)
    return row

In [18]:
bruno = df[df["email"] == "bruno.collingridge@lis.ac.uk"]
bruno

,email,cohort,source,satisfaction,wantedX,wantedY,gotX,gotY,created_at,wantedX_px,wantedY_px,gotX_px,gotY_px,wanted_region,got_region
21,bruno.collingridge@lis.ac.uk,2024,My mother told me about it in 2021.,6,370.0,299.61,237.0,325.59,2025-12-08T01:57:00.781Z,370.0,299.61,237.0,325.59,MP,IM

In [ ]:
calculate_strength(bruno)
calculate_strength(bruno, coordtype="wanted")

/var/folders/n2/_pv_2mp54ml1ys41451qn0wc0000gn/T/ipykernel_1027/500889684.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[f"{coordtype}_ID_strength"] = distance(row[f"{coordtype}X_px"], row[f"{coordtype}Y_px"], IDx, IDy)
/var/folders/n2/_pv_2mp54ml1ys41451qn0wc0000gn/T/ipykernel_1027/500889684.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[f"{coordtype}_Prob_strength"] = distance(row[f"{coordtype}X_px"], row[f"{coordtype}Y_px"], ProbX, ProbY)
/var/folders/n2/_pv_2mp54ml1ys41451qn0wc0000gn/T/ipykernel_1027/500889684.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[f"{coordtype}_Methods_strength"] = distance(row[f"{coordtype}X_px"], row[f"{coordtype}Y_px"], MethodsX, MethodsY)

,email,cohort,source,satisfaction,wantedX,wantedY,gotX,gotY,created_at,wantedX_px,wantedY_px,gotX_px,gotY_px,wanted_region,got_region,got_ID_strength,got_Prob_strength,got_Methods_strength
21,bruno.collingridge@lis.ac.uk,2024,My mother told me about it in 2021.,6,370.0,299.61,237.0,325.59,2025-12-08T01:57:00.781Z,370.0,299.61,237.0,325.59,MP,IM,161.481846,270.901539,170.715368

In [24]:
def calculate_strength_change(row):
    ID_change = row["got_ID_strength"] - row["wanted_ID_strength"]
    Prob_change = row["got_Prob_strength"] - row["wanted_Prob_strength"]
    Methods_change = row["got_Methods_strength"] - row["wanted_Methods_strength"]
    return ID_change, Prob_change, Methods_change

calculate_strength_change(bruno)

(21   -117.94111
 dtype: float64,
 21    85.55698
 dtype: float64,
 21   -21.491165
 dtype: float64)